<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="ja">
<head>
	<meta charset="UTF-8">
	<title>Task</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css" th:href="@{/lib/css/jquery.datetimepicker.min.css}"></link>
	<link rel="stylesheet" type="text/css" href="/css/style.css" th:href="@{/css/style.css}"></link>
	<script src="/lib/js/jquery.min.js" th:src="@{/lib/js/jquery.min.js}"></script>
	<script src="/lib/js/jquery.min.js" th:src="@{/lib/js/jquery.datetimepicker.full.min.js}"></script>
	<script src="/js/index.js" th:src="@{/js/index.js}"></script>
</head>
<body>
<div id="header">
	<h1>タスク管理</h1>
</div>
<div id="main">
	<div class="menu">
		<button class="button create-button">タスクの新規作成</button>
	</div>
	<div class="task-list-container">
		<div class="task-list todo-list">
			<div class="status-label">
				Todo
			</div>
			<div class="task-container" th:each="task : ${todoList}" th:data-task-id="${task.id}" th:data-task-status="${task.status}" th:data-reminder-id="${(task.reminder != null)? task.reminder.id:''}" th:data-reminder-schedule="${(task.reminder != null)? #dates.format(task.reminder.execDate, 'yyyy/MM/dd HH:mm'):''}" th:data-reminder-to="${(task.reminder != null)? task.reminder.email:''}">
				<div class="task-title" th:text="${task.title}">
				</div>
				<div class="task-attachment" th:if="${task.attachment}">
					<a th:href="@{'/file/download/' + ${task.attachment.id}}" th:text="${task.attachment.name}" target="_blank"></a>
				</div>
				<button class="button delete-button" type="button">
					削除
				</button>
				<button class="button status-move" type="button">
					Doingに移動
				</button>
			</div>
		</div>
		<div class="task-list doing-list">
			<div class="status-label">
				Doing
			</div>
			<div class="task-container" th:each="task : ${doingList}" th:data-task-id="${task.id}" th:data-task-status="${task.status}" th:data-reminder-id="${(task.reminder != null)? task.reminder.id:''}" th:data-reminder-schedule="${(task.reminder != null)? #dates.format(task.reminder.execDate, 'yyyy/MM/dd HH:mm'):''}" th:data-reminder-to="${(task.reminder != null)? task.reminder.email:''}">
				<div class="task-title" th:text="${task.title}">
				</div>
				<div class="task-attachment" th:if="${task.attachment}">
					<a th:href="@{'/file/download/' + ${task.attachment.id}}" th:text="${task.attachment.name}" target="_blank"></a>
				</div>
				<button class="button delete-button" type="button">
					削除
				</button>
				<button class="button status-move" type="button">
					Doneに移動
				</button>
			</div>
		</div>
		<div class="task-list done-list">
			<div class="status-label">
				Done
			</div>
			<div class="task-container" th:each="task : ${doneList}" th:data-task-id="${task.id}" th:data-task-status="${task.status}" th:data-reminder-id="${(task.reminder != null)? task.reminder.id:''}" th:data-reminder-schedule="${(task.reminder != null)? #dates.format(task.reminder.execDate, 'yyyy/MM/dd HH:mm'):''}" th:data-reminder-to="${(task.reminder != null)? task.reminder.email:''}">
				<div class="task-title" th:text="${task.title}">
				</div>
				<div class="task-attachment" th:if="${task.attachment}">
					<a th:href="@{'/file/download/' + ${task.attachment.id}}" th:text="${task.attachment.name}" target="_blank"></a>
				</div>
				<button class="button delete-button" type="button">
					削除
				</button>
				<button class="button status-move" type="button">
					Todoに移動
				</button>
			</div>
		</div>
	</div>
</div>
<div id="modal" class="modal hide"></div>
<div id="task-form-modal" class="modal-box hide">
	<div class="modal-header">
		<button class="modal-close-button" type="button">×</button>
		<div class="task-form-header modal-header-title">
			タスクの作成
		</div>
	</div>
	<div class="task-form-content modal-content">
		<form id="task-form" action="#" th:action="@{/task}" th:object="${task}" method="POST" enctype="multipart/form-data">
			<div class="form-item">
				<div class="form-item-content">
					<span class="form-item-label">タイトル</span>
					<input name="title" class="text-input title" type="text" th:field="*{title}" placeholder="タスクの内容を入力してください。" />
				</div>
			</div>
			<div class="form-item">
				<div class="form-item-content">
					<span class="form-item-label">ファイルを添付</span>
					<input name="attachmentFile" class="file attachment" type="file" style="padding:0;"/>
				</div>
			</div>
			<div class="form-item">
				<div class="form-item-content">
					<span class="form-item-label">リマインダー</span>
					<div class="form-item-subcontent">
						<div class="form-item-subtitle">
							<label>通知日時</label>
						</div>
						<input id="datetimepicker" class="text-input text" type="text" th:field="*{reminder.execDate}" placeholder="日時を指定してください。（クリック）" autocomplete="off"/>
					</div>
					<div class="form-item-subcontent">
						<div class="form-item-subtitle">
							<label>通知先</label>
						</div>
						<input id="reminderTo" name="email" class="text-input email" type="email" th:field="*{reminder.email}" placeholder="メールアドレスを入力してください。"/>
					</div>
				</div>
			</div>
			<div class="submit-menu">
				<button class="button submit-button" type="button">
					作成
				</button>
				<input name="status" class="text-input status hide" type="text" th:field="*{status}" />
				<input id="reminderId" class="text-input text hide" type="hidden" th:field="*{reminder.id}" />
				<input id="form-method" type="hidden" name="_method" value="POST">
			</div>
		</form>
	</div>
</div>
</body>
</html>